**/*venv/
**/.ipynb_checkpoints
**/__pycache__
*.egg-info
.python-version
.coverage
.vscode

postgres-data
globus_compute/
database_init.sql
.DS_Store

data/
site/


# vhs - local stuff i should maybe remove
aero/config_db.py
aero/lib/test_flow.py
aero/ssl

*tokens*
scope.json
scopes.json
secrets.txt
source
set_environment.sh

certs/
dsaas/
dsaas_portal/
paper-remodnav/
test_client/

workflow/send-email-test
