**/*venv/
**/.ipynb_checkpoints
**/__pycache__
*.egg-info
.python-version
.coverage
.vscode

postgres-data
globus_compute/
database_init.sql
.DS_Store

data/
site/


# vhs - local stuff i should maybe remove
osprey/server/config_db.py
osprey/server/lib/test_flow.py

*tokens.json*
scope.json
secrets.txt
source

workflow/send-email-test
